.modal
  background-color #000000
  color #fff
  position relative
  .close
    position absolute
    width 40px
    height 40px
    background-color transparent
    border 1px solid #fff
    border-radius 50%
    top 5%
    left 5%
    cursor pointer
    &:after
      content 'X'
      position absolute
      font-family 'OpenSansBold', Arial, Helvetica, sans-serif
      top 50%
      left 50%
      transform translate(-50%, -50%)
  h2
    padding 1rem 0
    color #917438
    font-size: 1.5rem
    line-height: 2rem
    max-width 450px
    font-family: 'OpenSans'
  p
    font-size 1.1rem
    max-width 450px
    margin 0 auto
    padding 1rem 1rem 4rem 1rem
    font-family: Arial, Helvetica, sans-serif

.carousel
  height 700px
  max-width 450px
  margin 0 auto

.carousel__item
  transition .8s linear

.myBtn
  background-color: #917438
  width 100%
  max-width 450px
  margin-bottom: 0
  padding .4rem 0
  border-radius: 6px
  font-family: 'OpenSans-Semibold', Arial, Helvetica, sans-serif
  font-size: 1.3rem
  text-transform uppercase

@media (max-width 700px)
  .modal
    h2
      font-size: 1rem
      line-height: 1.5rem
      max-width 310px      
    p
      font-size: 1rem
      padding 1rem
      max-width 310px
    .myBtn
      font-size: 1rem
      max-width 310px
    .head
      margin-top: 4rem
    .close
      top: 2%
    .carousel
      max-width 310px

@media (max-width 400px)
  .modal
    .carousel
    .myBtn
    p
    h2
      max-width: 270px