.modal
  background-color #000000
  color #fff
  min-height 600px
  position relative
  .close
    position absolute
    width 40px
    height 40px
    background-color transparent
    border 1px solid #fff
    border-radius 50%
    top 5%
    left 5%
    cursor pointer
    &:after
      content 'X'
      position absolute
      font-family 'OpenSansBold', Arial, Helvetica, sans-serif
      top 50%
      left 50%
      transform translate(-50%, -50%)
  h2
    padding 1rem 0
    color #917438
    max-width 390px
  p
    font-size 1.1rem
    max-width 390px
    margin 0 auto