/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import './theme.styl'

@import '../../node_modules/vuetify/src/stylus/app'

@import './settings.styl'


.application--light .toolbar .btn:not(.btn--disabled)
  color #fff
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif
  font-size: 1.2rem

.toolbar__content > *:not(.btn):not(.menu):first-child, .toolbar__extension > *:not(.btn):not(.menu):first-child
  margin-left: 0

.application > main
  flex-direction column

.application--light .list
  background-color: transparent

.carousel__left .btn i, .carousel__right .btn i
  font-size: 6rem


// helpers

h2
  font-size 2.15rem
  color #fff
  font-family 'OpenSans-Semibold',Arial, Helvetica, sans-serif
  text-transform uppercase
  letter-spacing .1rem

.darkgrey
  color #4b4b4b

.white
  color #fff

.layout
  h2
    padding 4rem 0
    margin-bottom: 0

.text
  font-size 1.8rem
  line-height 2.7rem
  font-family: 'OpenSans', Arial, Helvetica, sans-serif

.iconText
  font-size 1.8rem
  text-align center
  font-family: 'OpenSans-Semibold'

.application .theme--dark.btn:not(.btn--disabled):not(.btn--date-picker).btn--icon, .application .theme--dark.btn:not(.btn--disabled):not(.btn--date-picker).btn--floating
  color #e4757a

.layoutContainer
  max-width: 1030px
  margin 0 auto !important

@media (max-width 1024px)
  .layoutContainer
    max-width: 700px !important
  p
    font-size: 1.2rem !important
  h2
    font-size: 1.4rem !important
    padding 2rem 0 !important
  
.text
  font-size: 1.2rem
  line-height: 2rem

.iconText
  font-size: 1.3rem