/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import './theme.styl'

@import '../../node_modules/vuetify/src/stylus/app'

@import './settings.styl'


.application--light .toolbar .btn:not(.btn--disabled)
  color #fff
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif
  font-size: 1.2rem

.application > main
  flex-direction column

.toolbar__content
  justify-content center
  max-width 1400px

h2
  font-size 2.15rem
  color #fff
  font-family 'OpenSans-Semibold',Arial, Helvetica, sans-serif
  text-transform uppercase
  letter-spacing .1rem

.layoutContainer
  max-width: 1030px
  margin 0 auto